<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" href="static/css/bootstrap.css">
	<link rel="stylesheet" href="static/css/style.css">

	</head>
	<body>
	<div class="box-wrap">
		<header role="banner" id="fh5co-header">
			<div class="container">
				<nav class="navbar navbar-default">
					<div class="row">
						<div class="col-md-3">
							<div class="fh5co-navbar-brand">
								<a class="fh5co-logo" href="index">Pokémon Battle simulator</a>
							</div>
						</div>
						<div class="col-md-9 main-nav">
							<ul class="nav text-right">
								<li><a href="index"><span>Battle!</span></a></li>
								<li class="active"><a href="Info">Info</a></li>
							</ul>
						</div>
					</div>
				</nav>
		  </div>
		</header>

		<div id="fh5co-section">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="about-section">
							<h3 class="animate-box">Pokémon Background</h3>
							<p class="animate-box">{{abstract}}</p>
							<h3 class="animate-box">Pokémon Games</h3>
							<p>Some example games</p>
							<a href={{games1}}>{{game1}}</a>
							<div>
							<a href={{games2}}>{{game2}}</a>
						</div>
							<a href={{games3}}>{{game3}}</a>
							<div>
							<a href={{games4}}>{{game4}}</a>
						</div>
							<a href={{games5}}>{{game5}}</a>
							<div>
							<a href={{games6}}>{{game6}}</a>
						</div>
							<a href={{games7}}>{{game7}}</a>
							<div>
							<a href={{games8}}>{{game8}}</a>
						</div>
							<a href={{games9}}>{{game9}}</a>
							<div>
							<a href={{games10}}>{{game10}}</a>
						</div>
						<p></p>
						<div></div>
							<blockquote class="animate-box">
								<p>“You see, sometimes friends have to go away, but a part of them stays behind with you.” </p>
								<span>&mdash; Ash Ketchum</span>
							</blockquote>
							<p class="animate-box">Everyone wants te be a Pokemon Master</p>
							<blockquote class="animate-box">
								<p>“I like shorts, they're comfy and easy to wear!”</p>
								<span>&mdash; Youngster</span>
							</blockquote>
							<div class="row">
								<div class="col-md-6 animate-box">
									<p>"Well ash ya snooze ya lose and you're behind right from the start" -Gary Oak
									</p>
								</div>
								<div class="col-md-6 animate-box">
									<p></p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="sidebar">
							<div class="inner animate-box">
								<h2>New Applications</h2>
								<p>We want to extend our services to digimon as well </p>
							</div>
							
							<div class="inner animate-box">
								<h2>Pokémon quotes to live by</h2>
								
								<span>&mdash; Brock</span>
								<p class="quote">“I'll use my frying pan as a drying pan!”</p>
								<span>&mdash; Misty </span>
								<p class="quote">“When i want your oppinion, i'll ask for it!”</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
	</div>
	</body>
</html>
